@charset "utf-8";
/* CSS Document */

/* -- General Style -- */
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video { margin:0px;padding:0px;border:none;font-size:12px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#333; }
a{ font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#333;text-decoration:none; }
a:hover{ text-decoration:underline;color: #931818 }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
html, body { line-height:1; }
ol, ul { list-style: none;padding:0px;margin:0px; }
input{  }
table { border-collapse:collapse;border-spacing: 0; }
img{ border:none;}

.clr{ clear:both;}
.flt{ float:left;}
.flr{ float:right; }
.inputfield{ border:1px solid #ccc;padding:3px; }
.alt-tr{ background:#f5f5f5; }
.mt10{ margin-top:10px; }
.mt20{ margin-top:20px; }
.mr10{ margin-right:10px; }
.ml10{ margin-left:10px; }
.mb10{ margin-bottom:10px; }
.mb20{ margin-bottom:20px; }
.pt10{ pading-top:10px; }

p{ font-size:13px;font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;color:#333;line-height:21px; }

.t9{ color:#999; }
.t8{ color:#888; }
.t7{ color:#777; }
.t6{ color:#666; }
.t5{ color:#555; }
.t4{ color:#444; }
.t3{ color:#333; }
.t2{ color:#222; }
.t1{ color:#111; }
.twhite{ color:#fff; }
.tred{ color:#b9071f; }
.crossed{ text-decoration:line-through; }
.underline{ text-decoration:underline; }
.hidden{ display:none; }

.f11{ font-size:11px; }
.f12{ font-size:12px; }
.f13{ font-size:13px; }
.f14{ font-size:14px; }
.f15{ font-size:15px; }
.f16{ font-size:16px; }
.f17{ font-size:17px; }
.f18{ font-size:18px; }
.f19{ font-size:19px; }
.f20{ font-size:20px; }
.f21{ font-size:21px; }
.f22{ font-size:22px; }
.f23{ font-size:23px; }
.f24{ font-size:24px; }
.f25{ font-size:25px; }
.f26{ font-size:26px; }
.f27{ font-size:27px; }
.f28{ font-size:28px; }
.f29{ font-size:29px; }
.fbold{ font-weight:bold; }

/* -- Main CSS -- */

/* -- header -- */
.header1_bg{ height:75px;min-width:960px;margin:0 auto;background:#222 }
.header1{ height:35px;width:960px;padding:20px 0px;margin:0 auto; }
.header1_logo{ width:100px;height:35px; }
.header1_logo a{ line-height:35px;font-size:35px;color:#fff;text-decoration:none;font-weight:bold; }.header1_logo a:hover{ color:#FFC; }
.header2_bg{ height:50px;min-width:960px;margin:0 auto;background:url(../images/site/bgnoise.png); }
.header2{ width:960px;height:50px;margin:0 auto;overflow:hidden; }
.header_top_menu{ float:left;border-right:1px solid #ccc; }
.header_top_menu_item{ float:left;height:50px;width:70px; }
.header_top_menu_item_home{ background:url(../images/main_nav/koolyte-main-nav_home.png) no-repeat; }
.header_top_menu_item_eat{ background:url(../images/main_nav/koolyte-main-nav_eat.png) no-repeat; }
.header_top_menu_item_live{ background:url(../images/main_nav/koolyte-main-nav_live.png) no-repeat; }
.header_top_menu_item_move{ background:url(../images/main_nav/koolyte-main-nav_move.png) no-repeat; }
.header_top_menu_item_map{ background:url(../images/main_nav/koolyte-main-nav_map.png) no-repeat; }
.header_top_menu_item:hover{ background-position:0px -50px;border-top:5px solid #f03; }
.header_top_menu_item:active, .header_top_menu_item_active{ background-position:0px -100px;border-top:5px solid #ccc; }

/* -- slideshow -- */
.slideshow_bg{ min-width:960px;height:290px;margin:0 auto;background:url(../images/site/bgnoise.png); }
.slideshow{ width:960px;height:270px;margin:0 auto;background:#eee;overflow:hidden; }

/* -- food -- */
/* -- food ads -- */
.site_top_ads_bg{ min-width:960px;height:220px;margin:0 auto;background:url(../images/site/bgnoise.png); }
.site_top_ads{ width:960px;height:170px;padding:15px 0px 35px 0px;margin:0 auto; }
.site_top_ads_item{ width:228px;height:150px;background:#999;float:left;margin-left:15px;cursor:pointer;overflow:hidden; }
.site_top_ads_item:first-child{ margin-left:0px; }
.site_top_ads_hover_shadow{ width:228px;height:150px;background:url(../images/site/site_top_ads_hover_shadow.png) repeat-y;display:none; }
.site_top_ads_hover_text{ width:228px;height:150px;color:#fff;vertical-align:middle;display:table-cell;text-align:center; }

/* -- food search bar -- */
.site_search_bar_bg{ min-width:960px;height:45px;background:url(../images/search_nav/search-nav-bg.png) repeat-x; }
.site_search_bar{ width:960px;height:45px;margin:0px auto; }

/* -- shadow -- */
.top_down_shadow { -moz-box-shadow: 0px 1px 2px #666;-webkit-box-shadow: 0px 1px 2px #666;box-shadow: 0px 1px 2px #666;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#666666')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=90, Color='#666666');
}
.center_shadow{ -moz-box-shadow: 0px 0px 3px #666;-webkit-box-shadow: 0px 0px 3px #666;box-shadow: 0px 0px 3px #666;
/* For IE 8 */
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#444444')";
/* For IE 5.5 - 7 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=0, Color='#444444'); }

/* round corner */
.round_corner_3px{ -webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;behavior:url(ie-css3.htc); }